<nav class="navbar navbar-expand-lg header">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <div class="nav-item px-2">
        <a
          class="nav-link"
          aria-current="page"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/'"
          >Accueil</a
        >
      </div>
      <div class="nav-item px-2">
        <a
          class="nav-link"
          aria-current="page"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/campaigns'"
        >
          Campagnes
        </a>
      </div>
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="">A propos</a>
      </div>
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="">Blog</a>
      </div>
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="">FAQ</a>
      </div>
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="">Contact</a>
      </div>
    </div>
  </div>
  <div class="d-flex" *ngIf="user; else guest">
    <div class="user-dropdown" ngbDropdown>
      <a
        class="nav-link"
        tabindex="0"
        ngbDropdownToggle
        id="userDropdown"
        role="button"
      >
        {{ user.firstname }} {{ user.lastname }}
        <div
          class="avatar"
          [style.background-image]="'url(' + user.avatar + ')'"
        ></div>
      </a>
      <div
        ngbDropdownMenu
        aria-labelledby="userDropdown"
        class="dropdown-menu dropdown-menu-right"
      >
        <a
          ngbDropdownItem
          routerLink="/dashboard"
          (click)="$event.preventDefault()"
        >
          Dashboard
        </a>
        <a
          ngbDropdownItem
          href="#"
          (click)="logout($event)"
          class="text-primary"
          >Se déconnecter</a
        >
      </div>
    </div>
  </div>
  <ng-template #guest>
    <div class="d-flex auth-btns">
      <a routerLink="register" role="button" class="btn btn-link">S'inscrire</a>
      <a routerLink="login" role="button" class="btn btn-outline-primary">
        Se connecter
      </a>
    </div>
  </ng-template>
</nav>
