<nav class="navbar navbar-expand-lg header">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="campaigns"
          >Accueil</a
        >
      </div>
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="campaigns">
          Campagnes
        </a>
      </div>
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="campaigns">Blog</a>
      </div>
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="campaigns">FAQ</a>
      </div>
      <div class="nav-item px-2">
        <a class="nav-link" aria-current="page" routerLink="campaigns"
          >Contact</a
        >
      </div>
    </div>
  </div>
  <div class="d-flex" *ngIf="user; else guest">
    <div class="user-dropdown" ngbDropdown>
      <a
        class="nav-link"
        tabindex="0"
        ngbDropdownToggle
        id="userDropdown"
        role="button"
      >
        {{ user.getFullName() }}
        <div
          class="avatar"
          style="background-image: url('{{ user.avatar }}');"
        ></div>
      </a>
      <div
        ngbDropdownMenu
        aria-labelledby="userDropdown"
        class="dropdown-menu dropdown-menu-right"
      >
        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">
          My Profile
        </a>
        <a ngbDropdownItem href="#" (click)="logout($event)">Logout</a>
      </div>
    </div>
  </div>
  <ng-template #guest>
    <div class="d-flex auth-btns">
      <a routerLink="register" role="button" class="btn btn-link">Register</a>
      <a routerLink="login" role="button" class="btn btn-outline-primary">
        Login
      </a>
    </div>
  </ng-template>
</nav>
