<div class="row">
  <div class="col-md-12">
    <h4 class="dashboard-heading">Modifier mon mot de passe</h4>
  </div>
  <div class="col-md-12">
    <form
      method="POST"
      (ngSubmit)="changePassword(); passwordForm.reset()"
      #passwordForm="ngForm"
      passwordConfirm
    >
      <div class="form-group row">
        <label for="current_password" class="col-sm-4 col-form-label">
          Mot de passe actuel
        </label>
        <div class="col-sm-8">
          <input
            type="password"
            name="current_password"
            id="current_password"
            class="form-control"
            [(ngModel)]="form.current_password"
            placeholder="Entrer votre mot de passe"
            required
            #current_password="ngModel"
            minlength="8"
            (keydown)="errors.current_password = []"
          />
          <small class="form-help text-danger" *ngIf="errors.current_password">
            {{ errors.current_password[0] }}
          </small>
          <small
            class="form-help text-danger"
            *ngIf="
              current_password.invalid &&
              (current_password.dirty || current_password.touched)
            "
          >
            <span
              *ngIf="
                current_password.errors && current_password.errors.required
              "
            >
              Ce champ est obligatoire.
            </span>
            <span
              *ngIf="
                current_password.errors && current_password.errors.minlength
              "
            >
              Ce champ doit contenir au moins 8 caractères.
            </span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-4 col-form-label">
          Nouveau mot de passe
        </label>
        <div class="col-sm-8">
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="form.password"
            placeholder="Entrer votre mot de passe"
            required
            #password="ngModel"
            minlength="8"
            (keydown)="errors.password = []"
          />
          <small class="form-help text-danger" *ngIf="errors.password">
            {{ errors.password[0] }}
          </small>
          <small
            class="form-help text-danger"
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
            <span *ngIf="password.errors && password.errors.required">
              Le champ mot de passe est obligatoire.
            </span>
            <span *ngIf="password.errors && password.errors.minlength">
              Le champ mot de passe doit contenir au moins 8 caractères.
            </span>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="password_confirmation" class="col-sm-4 col-form-label">
          Confimer le mot de passe
        </label>
        <div class="col-sm-8">
          <input
            type="password"
            name="password_confirmation"
            id="password_confirmation"
            class="form-control"
            [(ngModel)]="form.password_confirmation"
            placeholder="Confirmer votre mot de passe"
            required
            #password_confirmation="ngModel"
            minlength="8"
            (keydown)="errors.password_confirmation = []"
          />
          <small
            class="form-help text-danger"
            *ngIf="errors.password_confirmation"
          >
            {{ errors.password_confirmation[0] }}
          </small>
          <small
            class="form-help text-danger"
            *ngIf="
              password_confirmation.invalid &&
              (password_confirmation.dirty || password_confirmation.touched)
            "
          >
            <span
              *ngIf="
                password_confirmation.errors &&
                password_confirmation.errors.required
              "
            >
              Ce champ est obligatoire.
            </span>
            <span
              *ngIf="
                password_confirmation.errors &&
                password_confirmation.errors.minlength
              "
            >
              Ce champ doit contenir au moins 8 caractères.
            </span>
          </small>
          <small
            class="form-help text-danger"
            *ngIf="
              passwordForm.errors?.passwordConfirmed &&
              (passwordForm.touched || passwordForm.dirty)
            "
          >
            La confirmation du mot de passe ne correspond pas.
          </small>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit" [disabled]="isLoading">
          <span *ngIf="!isLoading">Modifier</span>
          <div
            class="spinner-border spinner-border-sm"
            role="status"
            *ngIf="isLoading"
          >
            <span class="sr-only">Chargement...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>

<app-flash-alert
  [show]="showSuccessAlert"
  [message]="'Votre mot de passe a été modifié.'"
></app-flash-alert>

<app-flash-alert
  [show]="showErrorAlert"
  [message]="'Une erreur s\'est produit, veuillez réessayer. '"
  [type]="'danger'"
></app-flash-alert>
