<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>A propose de nous !</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, a
          delectus maiores numquam animi iusto sit. Voluptatibus, temporibus.
          Dolore nostrum necessitatibus eius nam ab doloremque accusamus minima
          delectus? Deleniti, facere.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Liens rapides</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a routerLink="">
              <i>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
              </i>
              Accueil
            </a>
          </li>
          <li>
            <a href="#">
              <i>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
              </i>
              À propos
            </a>
          </li>
          <li>
            <a routerLink="campaigns">
              <i>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
              </i>
              Trouver une campagne
            </a>
          </li>
          <li>
            <a href="#">
              <i>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
              </i>
              Blog
            </a>
          </li>
          <li>
            <a href="#">
              <i>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
              </i>
              Contact
            </a>
          </li>
          <li>
            <a href="#">
              <i>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
              </i>
              FAQ
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="#">
              <i><fa-icon [icon]="faFacebook"></fa-icon></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i><fa-icon [icon]="faTwitter"></fa-icon></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i><fa-icon [icon]="faInstagram"></fa-icon></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i><fa-icon [icon]="faEnvelope"></fa-icon></i>
            </a>
          </li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
      >
        <p class="h6">&copy; All right Reversed.</p>
      </div>
      <hr />
    </div>
  </div>
</section>
