<div class="container" *ngIf="!isLoading && campaign">
  <div class="row my-5">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/campaigns">Campagnes</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ campaign.title }}
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-9">
      <h3 class="campaign-title">
        {{ campaign.title }}
      </h3>
      <div class="campaign-image">
        <div class="image-wrapper">
          <img src="{{ campaign.file.path }}" />
        </div>
      </div>
      <p class="campaign-description">
        {{ campaign.description }}
      </p>

      <h3 class="campaign-title">Prendre rendez-vous</h3>

      <form (ngSubmit)="onSubmit()" *ngIf="!alreadyBooked">
        <div class="form-row mb-3">
          <label for="blood" class="col-sm-3 col-form-label"
            >Groupe sanguin</label
          >
          <div class="col-sm-9">
            <select
              class="form-control"
              id="blood"
              name="blood"
              required
              [(ngModel)]="form.bloodgroup_id"
              #blood="ngModel"
            >
              <option value="" disabled>
                Séléctionnez votre groupe sanguin
              </option>
              <option value="1">A <sup>+</sup></option>
              <option value="2">A <sup>-</sup></option>
              <option value="3">B <sup>+</sup></option>
              <option value="4">B <sup>-</sup></option>
              <option value="5">AB <sup>+</sup></option>
              <option value="6">AB <sup>-</sup></option>
              <option value="8">O <sup>+</sup></option>
              <option value="9">O <sup>-</sup></option>
            </select>
            <small
              class="form-help text-danger"
              *ngIf="blood.invalid && (blood.dirty || blood.touched)"
            >
              <span *ngIf="blood.errors && blood.errors.required">
                Le groupe sanguin est obligatoire.
              </span>
            </small>
          </div>
        </div>
        <div class="form-row mb-3">
          <label for="date" class="col-sm-3 col-form-label">Horaire</label>
          <div class="col-sm-9">
            <input
              id="date"
              class="form-control"
              type="datetime"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
              [(ngModel)]="form.date"
              #date="ngModel"
              name="date"
              required
            />
            <owl-date-time #dt1></owl-date-time>
            <small
              class="form-help text-danger"
              *ngIf="date.invalid && (date.dirty || date.touched)"
            >
              <span *ngIf="date.errors && date.errors.required">
                Veuillez choisir un créneau.
              </span>
            </small>
          </div>
        </div>

        <div class="form-row mt-5 mb-3 justify-content-center">
          <button class="btn btn-primary" type="submit">
            Prendre rendez-vous
          </button>
        </div>
      </form>

      <p *ngIf="alreadyBooked">
        Vous avez déja réservé un rendez-vous.
        <a href="#">Gérer mes rendez-vous.</a>
      </p>
    </div>

    <div class="col-md-3">
      <h3 class="campaign-title">Détails</h3>

      <p class="campaign-detail">
        <b>
          <i class="mr-2"><fa-icon [icon]="faMapMarkerAlt"></fa-icon></i>
          Adresse :
        </b>
        {{ campaign.adress.label }}
      </p>
      <p class="campaign-detail">
        <b>
          <i class="mr-2"><fa-icon [icon]="faCalendar"></fa-icon></i> Du :
        </b>
        {{ campaign.start_at | date: "medium" }}
      </p>
      <p class="campaign-detail">
        <b>
          <i class="mr-2"><fa-icon [icon]="faCalendar"></fa-icon></i> Au :
        </b>
        {{ campaign.end_at | date: "medium" }}
      </p>
    </div>
  </div>
</div>

<app-flash-alert
  [show]="showSuccessAlert"
  [message]="'Votre rendez-vous a été bien réservé.'"
></app-flash-alert>

<app-flash-alert
  [show]="showErrorAlert"
  [message]="'Une erreur s\'est produit, veuillez réessayer. '"
  [type]="'danger'"
></app-flash-alert>
