<div class="container" *ngIf="!isLoading && campaign">
  <div class="row my-5">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/campaigns">Campagnes</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ campaign.title }}
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-9">
      <h3 class="campaign-title">
        {{ campaign.title }}
      </h3>
      <div class="campaign-image">
        <div class="image-wrapper">
          <img src="{{ campaign.file.path }}" />
        </div>
      </div>
      <p class="campaign-description">
        {{ campaign.description }}
      </p>

      <h3 class="campaign-title">Prendre rendez-vous</h3>

      <form (ngSubmit)="onSubmit()" *ngIf="!alreadyBooked && user">
        <div class="form-row mb-3">
          <label for="bloodgroup_id" class="col-sm-3 col-form-label"
            >Groupe sanguin</label
          >
          <div class="col-sm-9">
            <select
              class="form-control"
              id="bloodgroup_id"
              name="bloodgroup_id"
              [(ngModel)]="bloodgroup_id"
              #blood="ngModel"
              required
              (keydown)="errors.bloodgroup_id = []"
            >
              <option *ngFor="let blood of bloodgroups" [value]="blood.id">
                {{ blood.title }}
              </option>
            </select>
            <small class="form-help text-danger" *ngIf="errors.bloodgroup_id">
              {{ errors.bloodgroup_id[0] }}
            </small>
            <small
              class="form-help text-danger"
              *ngIf="blood.invalid && (blood.dirty || blood.touched)"
            >
              <span *ngIf="blood.errors && blood.errors.required">
                Veuillez séléctionner votre groupe sanguin.
              </span>
            </small>
          </div>
        </div>
        <div class="form-row mb-3">
          <label for="slot" class="col-sm-3 col-form-label">Horaire</label>
          <div class="col-sm-9">
            <select
              class="form-control"
              id="slot"
              name="slot"
              required
              [(ngModel)]="slot"
              #slotInput="ngModel"
              (keydown)="errors.slot = []"
            >
              <option *ngFor="let slot of slots" [value]="slot">
                {{ slot | date: "short" }}
              </option>
            </select>
            <small class="form-help text-danger" *ngIf="errors.slot">
              {{ errors.slot[0] }}
            </small>
            <small
              class="form-help text-danger"
              *ngIf="
                slotInput.invalid && (slotInput.dirty || slotInput.touched)
              "
            >
              <span *ngIf="slotInput.errors && slotInput.errors.required">
                Veuillez choisir un créneau.
              </span>
            </small>
          </div>
        </div>

        <div class="form-row mt-5 mb-3 justify-content-center">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="isLoading || slotInput.invalid || blood.invalid"
          >
            <span *ngIf="!isLoading">Prendre rendez-vous</span>
            <div
              class="spinner-border spinner-border-sm"
              role="status"
              *ngIf="isLoading"
            >
              <span class="sr-only">Chargement ...</span>
            </div>
          </button>
        </div>
      </form>

      <p *ngIf="alreadyBooked">
        Vous avez déja réservé un rendez-vous.
        <a routerLink="/dashboard/my-appointments">Gérer mes rendez-vous.</a>
      </p>

      <p *ngIf="user == null">
        Veuillez vous connecter pour prendre un rendez-vous.
        <a routerLink="/login">Se connecter.</a>
      </p>
    </div>

    <div class="col-md-3">
      <h3 class="campaign-title">Détails</h3>

      <p class="campaign-detail">
        <b>
          <i class="mr-2"><fa-icon [icon]="faMapMarkerAlt"></fa-icon></i>
          Adresse :
        </b>
        {{ campaign.adress.label }}
      </p>
      <p class="campaign-detail">
        <b>
          <i class="mr-2"><fa-icon [icon]="faCalendar"></fa-icon></i> Du :
        </b>
        {{ campaign.start_date | date }}
      </p>
      <p class="campaign-detail">
        <b>
          <i class="mr-2"><fa-icon [icon]="faCalendar"></fa-icon></i> Au :
        </b>
        {{ campaign.end_date | date }}
      </p>
    </div>
  </div>
</div>

<app-flash-alert
  [show]="showSuccessAlert"
  [message]="'Votre rendez-vous a été bien réservé.'"
></app-flash-alert>

<app-flash-alert
  [show]="showErrorAlert"
  [message]="'Une erreur s\'est produit, veuillez réessayer. '"
  [type]="'danger'"
></app-flash-alert>
