.btn {
  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &:not([class*="btn-outline"], .btn-link) {
    color: #fff;
  }

  &.btn-link {
    &:hover {
      color: darken($color: $primary, $amount: 7.5%);
    }
  }
}
