.campaign-card {
  position: relative;
  margin-bottom: 50px;

  &:hover {
    .campaign-card-inner {
      .campaign-image {
        .image-wrapper {
          transform: scale(1.05);
        }

        .blood-type {
          background: $dark;
        }
      }

      .campaign-title {
        color: $primary;
      }
    }
  }

  .campaign-card-inner {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1) !important;
    overflow: hidden;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: block;
    background-color: #fff;

    .campaign-image {
      position: relative;
      height: 220px;
      overflow: hidden;
      //   @include imagewrapper(220px);

      .image-wrapper {
        @include transition(0.3s);
      }
    }

    .campaign-details {
      padding: 0 15px 15px;

      .campaign-title {
        font-size: 1rem;
        margin: 15px 0;
        @include transition(0.3s);
      }

      .campaign-description {
        font-size: 0.875rem;
        color: $text-secondary;
      }

      .campaign-metas {
        margin: 25px 0;
        font-size: 0.875rem;
        color: $text-secondary;
      }
    }
  }
}
