<nav class="dashboard-sidebar">
  <h6 class="sidebar-heading">My profile</h6>
  <div class="sidebar-item">
    <a routerLink="/dashboard/profile"> Personal informations </a>
  </div>
  <div class="sidebar-item">
    <a routerLink="/dashboard/profile/avatar">Avatar</a>
  </div>
  <div class="sidebar-item">
    <a href="#">Email Settings</a>
  </div>
  <div class="sidebar-item">
    <a href="#">Change password</a>
  </div>
  <ng-container *ngIf="user.type >= 1">
    <h6 class="sidebar-heading mt-3">Campaigns</h6>
    <div class="sidebar-item">
      <a routerLink="/dashboard/campaigns">Campaigns</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="campaigns/create">Add a campaign</a>
    </div>
  </ng-container>
</nav>
