<div class="row">
  <div class="col-md-12">
    <h4 class="dashboard-heading">Liste des campagnes</h4>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table
        datatable
        class="row-border hover stripe"
        [dtOptions]="dtOptions"
        *ngIf="!isLoading"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Du</th>
            <th>Au</th>
            <th>Commence à</th>
            <th>Termine à</th>
            <th>Durée créneau</th>
            <th>Adresse</th>
            <th>Crée le</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="campaigns?.length != 0">
          <tr *ngFor="let campaign of campaigns">
            <td class="nowrap">{{ campaign.id }}</td>
            <td class="nowrap">{{ campaign.title }}</td>
            <td>{{ campaign.description }}</td>
            <td class="nowrap">
              {{ campaign.start_date | date: "shortDate" }}
            </td>
            <td class="nowrap">{{ campaign.end_date | date: "shortDate" }}</td>
            <td class="nowrap">{{ campaign.start_time.substr(0, 5) }}</td>
            <td class="nowrap">{{ campaign.end_time.substr(0, 5) }}</td>
            <td>{{ campaign.slot_duration }}</td>
            <td class="nowrap">{{ campaign.adress.label }}</td>
            <td class="nowrap">{{ campaign.created_at | date: "medium" }}</td>
            <td class="actions">
              <div class="d-flex">
                <a
                  class="text-primary px-1"
                  role="button"
                  title="Voir les rendez-vous"
                  routerLink="/dashboard/campaigns/{{ campaign.slug }}"
                >
                  <fa-icon [icon]="faEye"></fa-icon>
                </a>
                <a class="text-success px-1" role="button" title="Modifier">
                  <fa-icon [icon]="faPen"></fa-icon>
                </a>
                <a
                  class="text-danger px-1"
                  role="button"
                  (click)="open(content, campaign)"
                  title="Supprimer"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confimer la suppression</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">Voulez-vous vraiment supprimer cette campagne ?</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('')"
    >
      Non
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="delete(); modal.close('Save click')"
    >
      Oui
    </button>
  </div>
</ng-template>

<app-flash-alert
  [show]="showSuccessAlert"
  [message]="'Supprimé!'"
></app-flash-alert>
