<div class="row">
  <div class="col-md-12">
    <h4 class="dashboard-heading">Ajouter une campagne</h4>
  </div>
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit(); form.reset()" #form="ngForm">
      <div class="form-row mb-3">
        <label for="title" class="col-sm-3 col-form-label">Titre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)]="campaign.title"
            #title="ngModel"
            required
          />
          <small
            class="form-help text-danger"
            *ngIf="title.invalid && (title.dirty || title.touched)"
          >
            <span *ngIf="title.errors && title.errors.required">
              Le titre est obligatoire.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="description" class="col-sm-3 col-form-label"
          >Description</label
        >
        <div class="col-sm-9">
          <textarea
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="campaign.description"
            #description="ngModel"
            required
          ></textarea>
          <small
            class="form-help text-danger"
            *ngIf="
              description.invalid && (description.dirty || description.touched)
            "
          >
            <span *ngIf="description.errors && description.errors.required">
              Le champ description est obligatoire.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="file" class="col-sm-3 col-form-label"
          >Photo de couverture</label
        >
        <div class="col-sm-9">
          <input
            type="file"
            id="file"
            class="form-control-file"
            (change)="onChange($event)"
            required
          />
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="adress" class="col-sm-3 col-form-label">Adresse</label>
        <div class="col-sm-9">
          <input
            id="adress"
            type="text"
            class="form-control"
            [(ngModel)]="campaign.adress"
            [ngbTypeahead]="search"
            [resultFormatter]="formatter"
            [inputFormatter]="formatter"
            [editable]="false"
            #adressInput="ngModel"
            name="adress"
            required
          />
          <small
            class="form-help text-danger"
            *ngIf="
              adressInput.invalid && (adressInput.dirty || adressInput.touched)
            "
          >
            <span *ngIf="adressInput.errors && adressInput.errors.required">
              Le champ adresse est obligatoire.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="start_at" class="col-sm-3 col-form-label">Date début</label>
        <div class="col-sm-9">
          <input
            id="start_at"
            class="form-control"
            type="datetime"
            [owlDateTime]="dt1"
            [owlDateTimeTrigger]="dt1"
            [(ngModel)]="campaign.start_date"
            #start_atInput="ngModel"
            name="start_date"
            required
          />
          <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
          <small
            class="form-help text-danger"
            *ngIf="
              start_atInput.invalid &&
              (start_atInput.dirty || start_atInput.touched)
            "
          >
            <span *ngIf="start_atInput.errors && start_atInput.errors.required">
              Le champ date de début est obligatoire.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="end_at" class="col-sm-3 col-form-label">Date fin</label>
        <div class="col-sm-9">
          <input
            id="end_at"
            class="form-control"
            type="datetime"
            [owlDateTime]="dt2"
            [owlDateTimeTrigger]="dt2"
            [(ngModel)]="campaign.end_date"
            #end_atInput="ngModel"
            name="end_date"
            required
          />
          <owl-date-time #dt2 pickerType="calendar"></owl-date-time>
          <small
            class="form-help text-danger"
            *ngIf="
              end_atInput.invalid && (end_atInput.dirty || end_atInput.touched)
            "
          >
            <span *ngIf="end_atInput.errors && end_atInput.errors.required">
              Le champ date fin est obligatoire.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="start_time" class="col-sm-3 col-form-label"
          >Commence à</label
        >
        <div class="col-sm-9">
          <input
            id="start_time"
            class="form-control"
            [owlDateTime]="dt3"
            [owlDateTimeTrigger]="dt3"
            [(ngModel)]="campaign.start_time"
            #startTimeInput="ngModel"
            name="start_time"
            required
          />
          <owl-date-time #dt3 pickerType="timer"></owl-date-time>
          <small
            class="form-help text-danger"
            *ngIf="
              startTimeInput.invalid &&
              (startTimeInput.dirty || startTimeInput.touched)
            "
          >
            <span
              *ngIf="startTimeInput.errors && startTimeInput.errors.required"
            >
              Ce champ est obligatoire.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="end_time" class="col-sm-3 col-form-label">Termine à</label>
        <div class="col-sm-9">
          <input
            id="end_time"
            class="form-control"
            [owlDateTime]="dt4"
            [owlDateTimeTrigger]="dt4"
            [(ngModel)]="campaign.end_time"
            #endTimeInput="ngModel"
            name="end_time"
            required
          />
          <owl-date-time #dt4 pickerType="timer"></owl-date-time>
          <small
            class="form-help text-danger"
            *ngIf="
              endTimeInput.invalid &&
              (endTimeInput.dirty || endTimeInput.touched)
            "
          >
            <span *ngIf="endTimeInput.errors && endTimeInput.errors.required">
              Ce champ est obligatoire.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="slot_duration" class="col-sm-3 col-form-label"
          >Durée de créneau</label
        >
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            id="slot_duration"
            [(ngModel)]="campaign.slot_duration"
            #slot_duration="ngModel"
            name="slot_duration"
            required
          />
          <small
            class="form-help text-danger"
            *ngIf="
              slot_duration.invalid &&
              (slot_duration.dirty || slot_duration.touched)
            "
          >
            <span *ngIf="slot_duration.errors && slot_duration.errors.required">
              Le champ capacité est obligatoire.
            </span>
          </small>
        </div>
      </div>
      <div class="form-group text-right">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="isLoading || form.invalid"
        >
          <span *ngIf="!isLoading">Ajouter</span>
          <div
            class="spinner-border spinner-border-sm"
            role="status"
            *ngIf="isLoading"
          >
            <span class="sr-only">Chargement...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>

<app-flash-alert
  [show]="showSuccessAlert"
  [message]="'La campagne a été bien ajoutée.'"
></app-flash-alert>

<app-flash-alert
  [show]="showErrorAlert"
  [message]="'Une erreur s\'est produit, veuillez réessayer. '"
  [type]="'danger'"
></app-flash-alert>
