<div class="row">
  <div class="col-md-12">
    <h4 class="dashboard-heading">Personal informations</h4>
  </div>
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="form-row mb-3">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter title"
            name="title"
            [(ngModel)]="campaign.title"
            #title="ngModel"
            required
          />
          <small
            class="form-help text-danger"
            *ngIf="title.invalid && (title.dirty || title.touched)"
          >
            <span *ngIf="title.errors && title.errors.required">
              The title field is required.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="description" class="col-sm-2 col-form-label"
          >Description</label
        >
        <div class="col-sm-10">
          <textarea
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="campaign.description"
            #description="ngModel"
            required
          ></textarea>
          <small
            class="form-help text-danger"
            *ngIf="
              description.invalid && (description.dirty || description.touched)
            "
          >
            <span *ngIf="description.errors && description.errors.required">
              The description field is required.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="file" class="col-sm-2 col-form-label">Cover photo</label>
        <div class="col-sm-10">
          <input
            type="file"
            id="file"
            class="form-control-file"
            (change)="onChange($event)"
            required
          />
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="adress" class="col-sm-2 col-form-label">Adress</label>
        <div class="col-sm-10">
          <input
            id="adress"
            type="text"
            class="form-control"
            [(ngModel)]="adress"
            [ngbTypeahead]="search"
            [resultFormatter]="formatter"
            [inputFormatter]="formatter"
            [editable]="false"
            #adressInput="ngModel"
            name="adress"
            required
          />
          <small
            class="form-help text-danger"
            *ngIf="
              adressInput.invalid && (adressInput.dirty || adressInput.touched)
            "
          >
            <span *ngIf="adressInput.errors && adressInput.errors.required">
              The adress field is required.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="capacity" class="col-sm-2 col-form-label">Capacity</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="capacity"
            placeholder="Max number of participants"
            [(ngModel)]="campaign.capacity"
            #capacity="ngModel"
            name="capacity"
            required
          />
          <small
            class="form-help text-danger"
            *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)"
          >
            <span *ngIf="capacity.errors && capacity.errors.required">
              The capacity field is required.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="start_at" class="col-sm-2 col-form-label">Start at</label>
        <div class="col-sm-10">
          <input
            id="start_at"
            class="form-control"
            type="datetime"
            [owlDateTime]="dt1"
            [owlDateTimeTrigger]="dt1"
            [(ngModel)]="start_at"
            #start_atInput="ngModel"
            name="start_at"
            required
          />
          <owl-date-time #dt1></owl-date-time>
          <small
            class="form-help text-danger"
            *ngIf="
              start_atInput.invalid &&
              (start_atInput.dirty || start_atInput.touched)
            "
          >
            <span *ngIf="start_atInput.errors && start_atInput.errors.required">
              The start at field is required.
            </span>
          </small>
        </div>
      </div>
      <div class="form-row mb-3">
        <label for="end_at" class="col-sm-2 col-form-label">Ends at</label>
        <div class="col-sm-10">
          <input
            id="end_at"
            class="form-control"
            type="datetime"
            [owlDateTime]="dt2"
            [owlDateTimeTrigger]="dt2"
            [(ngModel)]="end_at"
            #end_atInput="ngModel"
            name="end_at"
            required
          />
          <owl-date-time #dt2></owl-date-time>
          <small
            class="form-help text-danger"
            *ngIf="
              end_atInput.invalid && (end_atInput.dirty || end_atInput.touched)
            "
          >
            <span *ngIf="end_atInput.errors && end_atInput.errors.required">
              The end at field is required.
            </span>
          </small>
        </div>
      </div>
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="isLoading || form.invalid"
      >
        <span *ngIf="!isLoading">Add campaign</span>
        <div
          class="spinner-border spinner-border-sm"
          role="status"
          *ngIf="isLoading"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </form>
  </div>
</div>
