<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Campagnes</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-12 mb-5">
      <h3 class="mb-5">Campagnes</h3>
      <app-search-form></app-search-form>
    </div>
    <div class="col-md-4 mb-2" *ngFor="let campaign of campaigns">
      <div class="campaign-card">
        <a
          routerLink="/campaigns/{{ campaign.slug }}"
          class="campaign-card-inner"
        >
          <div class="campaign-image">
            <div class="image-wrapper">
              <img src="{{ campaign.file.path }}" />
            </div>
          </div>
          <div class="campaign-details">
            <h5 class="campaign-title">
              {{ campaign.title }}
            </h5>
            <div class="campaign-metas">
              <span class="campaign-meta pr-2">
                <fa-icon [icon]="faMapMarkerAlt" [classes]="['mr-1']"></fa-icon>
                {{ campaign.adress.city }}
              </span>
              <span class="campaign-meta">
                <fa-icon [icon]="faCalendar" [classes]="['mr-1']"></fa-icon>
                Du {{ campaign.start_date | date: "shortDate" }} au
                {{ campaign.end_date | date: "shortDate" }}
              </span>
            </div>
            <p class="campaign-description">
              {{ campaign.description }}
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <div class="spinner-border" role="status" *ngIf="isLoading">
        <span class="sr-only">Chargement...</span>
      </div>
    </div>
  </div>
</div>
