<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <h3>Campaigns</h3>
    </div>
    <div class="col-md-4 mb-2" *ngFor="let campaign of campaigns">
      <div class="campaign-card">
        <a href="#" class="campaign-card-inner">
          <!-- <div class="campaign-image">
            <div class="image-wrapper">
              <img src="{{ $ad->files()->first()->filepath }}" />
            </div> 
          </div> -->
          <div class="campaign-details">
            <h5 class="campaign-title">
              {{ campaign.title }}
            </h5>
            <div class="campaign-metas">
              <span class="campaign-meta pr-2">
                <fa-icon [icon]="faMapMarkerAlt" [classes]="['mr-1']"></fa-icon>
                {{ campaign.location }}
              </span>
              <span class="campaign-meta">
                <fa-icon [icon]="faCalendar" [classes]="['mr-1']"></fa-icon>
                {{ campaign.start_at | date: "short" }}
              </span>
            </div>
            <p class="campaign-description">
              {{ campaign.description }}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
