<div class="container">
  <h3 class="my-3">Add a campaign</h3>
  <div class="row">
    <div class="col-4">
      <form [formGroup]="addCampaignForm" (ngSubmit)="onSubmitCampaignForm()">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            placeholder="title"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="location"
            formControlName="location"
            placeholder="location"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <textarea
            class="form-control"
            id="description"
            formControlName="description"
            placeholder="description"
            autocomplete="off"
          ></textarea>
        </div>
        <div class="mb-3">
          <input
            type="number"
            class="form-control"
            id="capacity"
            formControlName="capacity"
            placeholder="capacity"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="start_at" class="col-form-label">start at : </label>
          <input
            type="date"
            class="form-control"
            id="start_at"
            formControlName="start_at"
            placeholder="start_at"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="end_at" class="col-form-label">end at : </label>
          <input
            type="date"
            class="form-control"
            id="end_at"
            formControlName="end_at"
            placeholder="end_at"
            autocomplete="off"
          />
        </div>
        <button
          class="btn btn-primary w-100"
          type="submit"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">Add campaign</span>
          <div
            class="spinner-border spinner-border-sm"
            role="status"
            *ngIf="isLoading"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </form>
    </div>
  </div>
</div>
