.avatar {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  background-color: $border-color;
  box-shadow: inset 0 -1px 0 $border-color;

  &.avatar-big {
    width: 150px;
    height: 150px;
  }
}
