.header {
  background: #fff;
  box-shadow: inset 0 -1px 0 $border-color;

  .nav-link {
    color: $text-secondary;
    font-weight: 500;
    font-size: $font-size-sm;
    @include transition(0.3s);

    &:hover {
      color: $text-primary;
    }

    &.active {
      color: $primary;
    }
  }

  .auth-btns {
    .btn {
      font-weight: 500;
      font-size: $font-size-sm;
    }
  }

  .user-dropdown {
    #userDropdown {
      display: flex;
      align-items: center;
      &:after {
        display: none;
      }
    }
  }
}
