.user-dropdown {
  #userDropdown {
    display: flex;
    align-items: center;
    &:after {
      display: none;
    }
  }

  .avatar {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
  }
}
