$navbar-height: 70px;

// fonts
$text-font: "Montserrat", sans-serif;
$heading-font: "Merriweather", serif;

// Colors
$border-color: #dfe2e4;
$text-secondary: rgba(0, 0, 0, 0.65);
$primary: #ff7b7b;
