.dashboard {
  .dashboard-sidebar-wrapper {
    .dashboard-sidebar {
      .sidebar-heading {
        font-weight: 600;
        font-size: $font-size-m;
        padding-bottom: 20px;
      }

      .sidebar-item {
        padding-bottom: 10px;
        a {
          text-decoration: none;
          color: $text-tertiary;
          @include transition(0.3s);

          &:hover {
            color: $text-primary;
          }
        }

        &.active {
          a {
            color: $text-primary;
          }
        }
      }
    }
  }

  .dashboard-content-wrapper {
    .dashboard-content {
      .dashboard-heading {
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: $font-size-l;
        margin-bottom: 20px;
      }

      .avatar {
        cursor: pointer;
        margin-bottom: 20px;
      }

      .text-helper {
        font-size: $font-size-sm;
        color: $text-secondary;
      }
    }
  }
}
